
html {
    margin:0;                                                 /* Common margin & padding for all browsers */
    padding:0;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    overflow-y: scroll;
    background.color: #292929;
}

body {
    background-color: #889A7A;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    margin: 0px auto;
    max-width: 900px;
    max-height: 720px;

}
header {
    background-color: #A1B556;
    display: block;
    color: #292929;
    padding: 0.5em;
    padding-top:1em;
    border: 1px solid #A1B556;
    border-radius: 3px;
}
header h2 {
}
h1 {
    font-size: 72px;
    margin: 0px;
}
h2 {
    font-size: 24px;
    margin: 0px;
    color: #292929;
}
h3 {
    font-size: 18px;
    margin: 0em;
    margin-bottom: 0.5em;
    text-align:center;
    color: #292929;
}
h4 {
    color: #F47D31;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 20px #888;
    -webkit-transform: rotate(-45deg);
    -moz-box-shadow: 2px 2px 20px #888;
    -moz-transform: rotate(-45deg);
    position: absolute;
    padding: 0px 150px;
    top: 50px;
    left: -120px;
    text-align:center;
}
nav {
    display:block;
    width:15%;
    float:left;
}
nav a:link, nav a:visited {
    display: block;
    border-bottom: 3px solid #fff;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
}
nav a:hover {
    color: #292929;
    background-color: #EAE0A9;
}
nav h3 {
    margin: 15px;
    color: white;
}
section {
    display:block;
    width:60%;
    height: 560px;
    float:left;
}
article {
    background-color: #EAE0A9;
    display:block;
    margin: 10px;
    margin-bottom: 2em;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
article header {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    background-color: #B0BF74;
}
article footer {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    background-color: #B0BF74;
}
article h1 {
    font-size: 18px;
}
aside {
    padding: 0px;
    display:block;
    width:25%;
    height: 560px;
    float:left;
}
aside h3 {
    margin: 15px;
    color: #292929;
}
aside p {
    margin: 15px;
    color: #292929;
    font-weight: bold;
}
footer {
    clear: both;
    display: block;
    background-color: #A1B556;
    color: #292929;
    text-align:center;
    padding: 15px;
    border: 1px solid #A1B556;
    border-radius: 3px;
}
footer h2 {
    font-size: 14px;
    color: #292929;
}
/* links */
a {
    color: blue;
}
a:hover {
    text-decoration: underline;
}



/*
 * AUTHORS CUSTOM ELEMENTS
 *
 */

#status {
    float: right;
}
#topbar {
    margin-left: 7em;
}
#logo {
    margin: 1em;
    margin-top: 3em;
    padding: 0em;
    border-radius: 3px;
    border: 1px solid #5A99BA;
}

#welcome {
    height: 310px;
    overflow-y: none;
    overflow-x: none;
    margin-bottom: 1em;
}
#posts {
    height: 310px;
    overflow-y: auto;
    overflow-x: none;
    margin-bottom: 1em;
}
#sidecolumn {
    background-color: #A1B556;
    display:block;
    margin: 10px;
    margin-bottom: 2em;
    height: 520px;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.mainPageContainer {
    height: 520px;
}

.odd {
    background-color: #E8D992;
}
.private {
    color: #9B7990;
}


.smallButton {
  padding-left: 7px;
  padding-right: 7px;
  background: #437C3F;
  font-size: 16px;
  color: #292929;
  border-radius: 5px;
  border: 1px solid #A1B556;
}
.exitButton {
  width: 32px;
  height: 32px;
  margin-left: 2em;
  margin-bottom: 8px;
  background: #437C3F;
  font-size: 18px;
  color: #292929;
  border-radius: 5px;
  border: 1px solid #A1B556;
  float: right;
}
.textInputField {
    background: #CCC1BB;
    border: 1px solid #A1B556;
    border-radius: 2px;
    color: #292929;
    margin: 1px;
}
.userListItem {
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}


#connectbox {
    height: 90px;
    padding: 15px;
}
#connectbox #connectbuttonbox {
    padding: 1em;
    clear: both;
    text-align: center;
}


#messagebox {
    height: 90px;
    padding: 15px;
}
#messagebox #inputbox {
    margin: 0em;
    text-align: center;
}
#messagebox #inputbox #message{
    width: 90%;
}
#messagebox #inputbox #buttonbox {
    padding: 1em;
}
#messagebox #buttonbox{
    text-align: center;
}
#messagebox #buttonbox #send {
    margin-top: 0.5em;
    margin-left: 4em;
}



#dropdown {
    float: ;
}
#url {
    float: ;
}
#userName {
    float: right;
}
#password {
    float: right;
}
#eMail {
    float: right;
    clear: both;
}



#userCounter{
    height: 20px;
    padding-top: 0px;
    text-indent: 0.5em;
    font-weight: bold;
}
#userList {
    width: 100%;
    height: 310px;
    overflow: auto;
    font-size: 10px;
    text-indent: 2em;
}



#userTable thead {
    width: 100%;

}
#userTable td {
    padding: 5px 40px 5px 0;
    vertical-align: top;
}
#userTable thead th {
    padding-right: ;
    text-align: left;
}


#output {
    border-top: 1px dotted #B0BF74;
    margin-top: 0em;
    width: 100%;
    height: 185px;
    overflow: auto;
    font-size: 10px;
}